:root {
    --ff-primary: "Barlow", sans-serif;
    --ff-accent: "Roboto Mono", monospace;
    --marquee-width: 100vw;
    --marquee-height: 12vh;
    --marquee-elements-displayed: 5;
    --marquee-element-width: calc(
        var(--marquee-width) / var(--marquee-elements-displayed)
    );
    --marquee-animation-duration: 50s;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--ff-accent);
}

/* nav section */

nav {
    background-color: white;

    height: min-content;
    width: 60vh;

    border-radius: 55px;

    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 2px 1fr 2px 1fr;
    gap: 0px 0px;

    align-items: center;
    justify-content: center;
}

nav a {
    font-family: var(--ff-accent);
    font-size: 35px;
    color: #000;
    line-height: 100px;

    text-decoration: none;
    text-align: center;

    height: 100px;
    width: 250px;

    background-color: white;

    border: none;
    transition: ease-in-out 1.1s;
}

nav sup {
    font-size: 1.5rem;
}

nav a:hover {
    transform: scale(105%);

    color: rgb(34, 34, 34);
}

.grid-div {
    height: 60%;
    border: 1px solid black;
}

.grid-button {
    display: flex;
    align-items: center;
}

#nav-left {
    grid-area: 1 / 1 / 2 / 2;
    border-top-left-radius: 55px;
    border-bottom-left-radius: 55px;
}

#grid-div-left {
    grid-area: 1 / 2 / 2 / 3;
}

#nav-center {
    grid-area: 1 / 3 / 2 / 4;
}

#grid-div-right {
    grid-area: 1 / 4 / 2 / 5;
}

#nav-right {
    grid-area: 1 / 5 / 2 / 6;
    border-top-right-radius: 55px;
    border-bottom-right-radius: 55px;
}

/* landing section */

main {
    overflow-x: hidden;
}

#landing-section {
    height: 110vh;

    display: flex;
    justify-content: flex-end;
}

#landing-section aside {
    width: 50vw;

    background: rgb(15, 22, 85);
    background: linear-gradient(
        13deg,
        rgba(44, 15, 85, 1) 0%,
        rgb(38, 29, 115) 100%
    );
}

#landing-section aside div {
    margin: 80px 15%;
}

#landing-section-logo {
    height: 190px;
    width: 90px;

    object-fit: fill;
}

#catchphrase {
    font-family: var(--ff-accent);
    font-size: 65px;

    color: rgb(255, 255, 255);

    margin-top: 140px;
}

#landing-section button {
    font-family: var(--ff-accent);
    font-size: 25px;
    font-weight: 700;

    height: 7rem;
    width: 30rem;

    border-radius: 0px 25px 25px 25px;
    border: none;

    margin-top: 140px;
}

#lading-section-image {
    height: 100%;
    width: 50vw;

    object-fit: cover;
}

/* app store section */

#appstore-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 8rem;
}

#appstore-section article {
    font-family: var(--ff-primary);
    font-size: 5rem;
    font-weight: 800;
    text-align: center;
}

#scroll-magic {
    background-color: black;

    height: 600px;
    width: 65%;

    margin-top: 8rem;
    border-radius: 0px 25px 25px 25px;

    position: relative;
}

#iphone-bank {
    height: 42rem;
    width: 20rem;

    object-fit: cover;

    position: absolute;

    top: -2rem;

    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#scroll-magic div {
    background-color: #fff;

    height: 6rem;
    width: 15rem;

    border-radius: 15px;

    visibility: hidden;
}

#message-1 {
    position: absolute;
    top: 6rem;
    left: 2.5rem;
}

#message-2 {
    position: absolute;
    top: 15rem;
    right: 2.5rem;
}

#message-3 {
    position: absolute;
    bottom: 6rem;
    left: 2.5rem;
}

#scroll-magic div.show {
    visibility: visible;
}

#download-options {
    display: flex;
    align-items: center;
    justify-content: space-around;

    margin-top: 13rem;
    padding: 5px;
}

.download-button {
    height: 100px;
    width: 300px;

    margin: 0px 20px;

    border: none;
}

#google-play {
    background: url(assets/google-play.png);
    background-size: cover;
}

#app-store {
    background: url(assets/app-store.png);
    background-size: cover;
}

/* partners  section */
#partners-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 7rem;
}

#partners-section h3 {
    font-size: 30px;
    margin-bottom: 5rem;
}

.marquee {
    width: var(--marquee-width);
    height: var(--marquee-height);

    color: #eee;
    overflow: hidden;
    position: relative;
}

.marquee:before,
.marquee:after {
    position: absolute;
    top: 0;
    width: 10rem;
    height: 100%;
    content: "";
    z-index: 1;
}
.marquee:before {
    left: 0;
    background: linear-gradient(to right, #fff 0%, transparent 100%);
}
.marquee:after {
    right: 0;
    background: linear-gradient(to left, #fff 0%, transparent 100%);
}
.marquee-content {
    list-style: none;
    height: 100%;
    display: flex;
    animation: scrolling var(--marquee-animation-duration) linear infinite;
}
.marquee-content:hover {
    animation-play-state: paused;
}
@keyframes scrolling {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(
            calc(-1 * var(--marquee-element-width) * var(--marquee-elements))
        );
    }
}
.marquee-content li {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-shrink: 0;
    width: var(--marquee-element-width);
    max-height: 100%;
    font-size: calc(var(--marquee-height) * 3 / 4); /* 5rem; */
    white-space: nowrap;

    margin-right: max(140px, 3rem);
}

.marquee-content li img {
    width: 300px;
    height: 50px;
    object-fit: contain;
}

/* strategie-seciton */

#strategie-seciton {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 90vh;

    margin-top: 10rem;
}

#strategie-seciton h2 {
    font-size: 45px;
}

#strategie-anchor {
    width: 100%;
    height: 100vh;
    margin-top: 15rem;
    position: relative;
}

#iphone-banner {
    width: 80%;

    position: absolute;

    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

    margin-top: 5rem;
    z-index: 1;
}

#iphone {
    position: absolute;
    top: 3rem;
    left: 0px;
}
#iphone img {
    height: 700px;
    width: 300px;
}

#iphone-text {
    position: absolute;
    right: -40px;
    top: -230px;
}

#iphone-banner aside {
    width: 50%;
    height: 100%;
    margin: 0px 5rem;
}

#iphone-banner aside:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#iphone-banner li {
    list-style: none;

    display: flex;
    flex-direction: row;
    align-items: center;

    margin-top: 1rem;
}

#iphone-banner li div {
    margin-right: 1rem;
}

#iphone-banner li p {
    font-family: var(--ff-accent);
    font-weight: 100;

    width: 15rem;
}

.list-style {
    background-color: rgba(65, 29, 115, 1);

    height: 50px;
    width: 50px;

    border-radius: 30px;
}

#iphone-banner button {
    background-color: rgba(65, 29, 115, 1);
    color: #fff;
    font-family: var(--ff-accent);
    font-size: 25px;
    font-weight: 700;

    height: 6rem;
    width: 25rem;

    border: none;
    border-radius: 0px 25px 25px 25px;
    border: none;

    margin-top: 3rem;
}

.marquee-strategy {
    background-color: #fff;
    color: #eee;

    width: var(--marquee-width);
    height: 15rem;

    overflow: hidden;
    position: absolute;
    top: 230px;
}

.marquee-strategy:before,
.marquee:after {
    position: absolute;
    top: 0;
    width: 10rem;
    height: 100%;
    content: "";
    z-index: 1;
}

.marquee-strategy:before {
    left: 0;
    background: linear-gradient(to right, #fff 0%, transparent 100%);
}

.marquee-strategy:after {
    right: 0;
    background: linear-gradient(to left, #fff 0%, transparent 100%);
}

.marquee-strategy-content {
    list-style: none;
    height: 100%;
    display: flex;
}

.marquee-strategy-content li {
    background-color: rgb(141, 52, 52);

    height: 150px;
    width: 150px;

    margin: 0px 60px;

    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-shrink: 0;
}

.marquee-strategy-content li img {
    width: 100%;
    /* height: 100%; */
    border: 2px solid #eee;
}

/* steps section */

#steps-section {
    margin-top: 10rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.steps {
    width: 60%;

    margin-top: 10rem;

    display: flex;
}

.steps aside {
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.steps aside div {
    padding-left: 10em;
}

#steps-section h2 {
    font-size: 35px;
}

#steps-section h3 {
    margin-top: 1rem;
    font-size: 30px;
}

#steps-section article {
    font-family: var(--ff-primary);
    font-weight: 100;

    margin-top: 2rem;

    width: 300px;
}

.steps-button {
    background-color: rgba(65, 29, 115, 1);
    color: #fff;
    font-family: var(--ff-accent);
    font-size: 25px;
    font-weight: 700;

    height: 5rem;
    width: 15rem;

    border: none;
    border-radius: 0px 25px 25px 25px;
    border: none;

    margin-top: 3rem;
}

.steps:nth-of-type(2) aside:nth-of-type(1) div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    padding-left: 0;
    padding-right: 10rem;
}

.steps:nth-of-type(2) aside:nth-of-type(1) h3 {
    text-align: right;
}

.steps:nth-of-type(2) aside:nth-of-type(1) article {
    text-align: right;
}

/* thousand lights */

#thousand-lights-section {
    height: 70vh;

    margin-top: 20rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#thousand-lights-section h2 {
    font-size: 60px;
}

#thousand-lights-section div {
    height: 50vh;
}

/* sponsors-section */

/* committees-section */
#committees-section {
    margin-top: 8rem;
    margin-bottom: 8rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

#committees-section img {
    margin: 0px 5rem;
    height: 80%;
    width: 50%;
}

/* footer-section */

footer {
    background-color: #000;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#nav-footer {
    width: 100%;

    display: flex;
    justify-content: space-evenly;
}

footer ul {
    margin-top: 4rem;
}

footer li {
    margin-bottom: 10px;
}

footer li a {
    color: white;

    font-family: var(--ff-accent);
    font-size: 50px;

    text-decoration: none;
}

#logos {
    width: 100%;

    margin-top: 3rem;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

#logos img {
    height: 100px;
    width: 50px;

    object-fit: cover;
}

#logos img:nth-last-of-type(1) {
    height: 75px;
    width: 75px;
}

#band {
    background-color: rgb(44, 15, 85);

    margin-top: 3rem;

    height: 60px;
    width: 100%;
}

@media screen and (max-width: 1200px) {
    nav {
        display: none;
    }

    #landing-section img {
        display: none;
    }
    #landing-section aside {
        background-image: url(assets/landing-page-image.jpg);
        background-size: cover;

        width: 100vw;
    }
}

@media screen and (max-width: 1000px) {
    .steps {
        flex-direction: column;
        align-items: center;
        margin-top: 10rem;
    }

    .steps aside {
        margin: 1rem;
        padding: 0px;
        align-items: center;
        width: 80%;
    }

    .steps aside div {
        padding-left: 0px;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .steps aside article {
        font-family: var(--ff-primary);
        text-align: center;
        margin: 0px;
        width: 100%;
    }

    #steps-section article {
        font-family: var(--ff-primary);
        width: 100%;
    }

    .steps:nth-of-type(2) {
        flex-direction: column-reverse;
        text-align: center;
    }
    .steps:nth-of-type(2) aside:nth-of-type(1) div {
        padding-right: 0px;
        flex-direction: column;
        align-items: center;
    }

    .steps:nth-of-type(2) aside:nth-of-type(1) article {
        padding-right: 0px;
    }
}

@media screen and (max-width: 600px) {
    #nav-footer {
        flex-direction: column;
        align-items: center;
    }

    #committees-section div {
        display: flex;
        justify-content: center;
    }

    #committees-section img {
        margin: 0px;
        margin-right: 0px;
    }

    #nav-footer ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
