:root {
    --ff-barlow: "Barlow", sans-serif;
    --ff-roboto: "Roboto Mono", monospace;

    --purple: rgb(74, 37, 125);
    --navy: rgb(22, 24, 44);
    --turquoise-green: rgb(91, 239, 178);
    --turquoise-blue: rgb(10, 185, 186);
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--ff-barlow);
}

/* nav section */

nav {
    position: fixed;

    background-color: white;

    padding: 1vw;

    height: 8vw;
    width: 100%;
    z-index: 100;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

nav a {
    color: black;

    font-family: var(--ff-barlow);
    font-size: 1.5vw;
    font-weight: 700;
    text-decoration: none;
}

nav a:hover {
    color: rgb(91, 239, 178);
}

.app-download {
    display: block;

    background-color: rgb(91, 239, 178);
    color: white;

    padding: 1.1vw 1.5vw;

    border-radius: 0px 0.5vw 0.5vw 0.5vw;
    box-shadow: 0.2vw 0.2vw 0.1vw 0.1vw rgba(91, 239, 178, 0.3);

    text-decoration: none;
    font-family: var(--ff-barlow);
    font-weight: 500;
    font-size: 1.25vw;
}

.app-download:hover {
    color: black;
    box-shadow: 0.2vw 0.2vw 0.1vw 0.1vw rgba(19, 53, 39, 0.3);
}

/* landing section */

main {
    width: 100vw;

    overflow: hidden;
}

#landing-section {
    height: min-content;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    padding-bottom: 70vw;
}

#water-background {
    width: 100vw;
}

#catchphrase {
    position: absolute;

    font-family: var(--ff-barlow);
    font-weight: 400;
    font-size: 3.2vw;
    line-height: 4vw;
    text-align: center;

    color: white;
    top: 15vw;
}
#catchphrase strong {
    font-weight: 700;
}

#water-splash {
    position: absolute;
    width: 90vw;

    top: 30vw;
    left: 12vw;

    z-index: 2;
}

#iphone-landing-page {
    height: 60vw;

    position: absolute;
    top: 30vw;

    z-index: 4;
}

#download-links {
    display: flex;
    flex-direction: row;
    align-items: center;

    position: absolute;
    top: 95vw;
}

.download-links {
    height: 5vw;
    width: 15vw;

    margin: 0px 0.5vw;
}

#landing-section-download-link {
    height: 4vw;

    line-height: 4vw;
    font-size: 1.8vw;
    font-weight: 500;
    text-align: center;

    padding: 0vw 0vw;
}

/* partners  section */
#partners-section {
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 3vw;
}

#partners-section h3 {
    font-size: 1.56vw;
    font-weight: 700;

    margin-bottom: 3vw;
}

.marquee {
    width: var(--marquee-width);
    height: var(--marquee-height);

    color: #eee;
    overflow: hidden;
    position: relative;
}

.marquee-content {
    list-style: none;
    height: 100%;
    display: flex;
    animation: scrolling var(--marquee-animation-duration) linear infinite;
}

@keyframes scrolling {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(
            calc(-1 * var(--marquee-element-width) * var(--marquee-elements))
        );
    }
}

.marquee-content li {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-shrink: 0;
    width: var(--marquee-element-width);
    max-height: 100%;
    font-size: calc(var(--marquee-height) * 3 / 4);
    white-space: nowrap;

    margin-right: 3vw;
}

.marquee-content li img {
    width: 15vw;
    height: 4vw;
    object-fit: contain;

    /* filter: grayscale(1); */
}

/* founders */
#founders-section {
    padding: 10vw 8vw;

    display: flex;
    flex-direction: row;
}

#founders {
    height: 20vw;
    width: 30vw;
}

#founders-section aside {
    width: 50%;
}

#founders-section aside {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0px 3vw;
}

#founders-section h3 {
    font-size: 1.8vw;
    font-weight: 500;
    font-family: var(--ff-roboto);
}

#founders-section article {
    font-family: var(--ff-barlow);
    font-size: 1.8vw;
    font-weight: 700;

    width: 70%;

    margin-top: 1vw;
}

#founders-section img {
    width: 35vw;
    height: 20vw;
}

/* strategie-seciton */

#strategy-section {
    margin-top: 8vw;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.strategy-aside {
    height: 60vw;
    width: 40vw;
}

#strategy-section-h2 {
    font-size: 2vw;
    line-height: 2.5vw;
    font-weight: 600;
    font-family: var(--ff-barlow);
    text-align: center;

    margin-top: 2.5vw;
}

#strategy-section h3 {
    font-size: 2.3vw;
    font-weight: 400;
    font-family: var(--ff-roboto);

    color: var(--turquoise-green);

    margin-top: 2vw;
}

#strategy-section h5 {
    font-size: 1.2vw;
    font-family: var(--ff-barlow);
    text-align: center;
    font-weight: 650;

    color: black;

    margin-top: 1vw;
}

#strategy-section h4 {
    font-size: 2.4vw;
    font-weight: 700;
    font-family: var(--ff-barlow);

    margin-top: 2vw;
}

#strategy-section article {
    width: 30vw;

    font-size: 1.6vw;
    font-family: var(--ff-barlow);
    font-weight: 500;

    margin-top: 2vw;
}

#iphone-banner {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-top: 4vw;

    padding: 2vw;
}

/* glide setting stuff */

#iphone-banner-aside {
    position: relative;
}

#iphone-assets {
    width: 40vw;

    position: absolute;

    z-index: 10;
}

#container {
    width: 200vw;
    height: 150px;

    position: absolute;
    left: 50%;
    transform: translate(-50%);

    top: 30vw;
}

.glide {
    background-color: transparent;
}

.glide__slides {
    display: flex;
    justify-content: center;
}

.glide__slide {
    display: flex;
    justify-content: center;
}

.glide__slide-img {
    height: 15vw;
    width: 15vw;

    border-radius: 2vw;

    background-color: rgb(138, 126, 126);
}

.tasks {
    display: flex;
    flex-direction: column;

    color: white;

    height: 15vw;
    width: 15vw;

    padding: 0.2vw;

    border-radius: 2vw;
}

.icon {
    height: 5vw;
    width: 5vw;
}

.bike-icon {
    background-color: white;

    width: min-content;
    border-radius: 100%;
}

.bike {
    height: 4vw;
    width: 4vw;
}

.tasks h2 {
    margin-top: 4vw;
    font-size: 1.5vw;
    line-height: 1.8vw;
    text-align: center;
}

#task1 {
    background-color: rgb(22, 24, 44);
}

#task2 {
    background-color: rgb(8, 185, 186);
}

#task3 {
    background-color: rgb(86, 172, 136);
}

/* steps section */

#steps-section {
    width: 100vw;

    padding: 3vw;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.steps {
    width: 80vw;

    margin-top: 8vw;

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.steps aside {
    width: 30vw;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#steps-section svg {
    width: 40vw;
}

#steps-section h2 {
    font-size: 2.3vw;
    font-weight: 400;
    font-family: var(--ff-roboto);

    color: var(--turquoise-green);

    margin-top: 2vw;
}

#steps-section h3 {
    font-size: 2.4vw;
    font-weight: 700;
    font-family: var(--ff-barlow);

    margin-top: 2vw;
}

#steps-section article {
    width: 20vw;

    font-size: 1.6vw;
    font-family: var(--ff-barlow);
    font-weight: 500;

    margin-top: 2vw;
}

.steps:nth-of-type(2) aside:nth-of-type(1) div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    padding-left: 0;
    padding-right: 1vw;
}

.steps:nth-of-type(2) aside:nth-of-type(1) h3 {
    text-align: right;
}

.steps:nth-of-type(2) aside:nth-of-type(1) article {
    text-align: right;
}

/* footer-section */

footer {
    width: 100%;

    background-color: rgb(187, 208, 227);

    display: flex;
    flex-direction: column;
    align-items: center;
}

#socials {
    width: 100%;

    padding: 1vw 10vw;

    background-color: var(--navy);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#socials img {
    height: 8vw;
    width: 8vw;
}

.social {
    height: 7vw;
}

#socials-h2 {
    margin: 4vw;

    font-family: var(--ff-barlow);
    color: white;
    font-size: 2vw;
}

#socials-ul {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 80%;

    list-style: none;
}

.ticktock-background {
    height: 8vw;
    width: 8vw;

    background-color: white;
    border-radius: 50%;
}

#nav-footer {
    width: 100%;

    display: flex;
    justify-content: space-evenly;
}

.footer-ul {
    margin-top: 1vw;
    list-style: none;
}

footer li {
    margin-bottom: 1vw;
}

footer li a {
    color: rgb(22, 24, 44);

    font-family: var(--ff-barlow);
    font-size: 1.2vw;
    font-weight: 500;

    text-decoration: none;
}
footer li {
    color: rgb(22, 24, 44);

    font-family: var(--ff-barlow);
    font-size: 1.2vw;

    text-decoration: none;
}

footer h2 {
    font-size: 1.2vw;
    font-weight: 900;
    color: rgb(22, 24, 44);
}

#logos {
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

#stg {
    width: 70vw;

    margin-top: 3vw;
}

#stg ul {
    display: flex;
    justify-content: space-around;

    list-style: none;
}

.stg-icon {
    height: 4vw;

    border-radius: 0.2vw;
}
