:root {
    --ff-barlow: "Barlow", sans-serif;
    --ff-roboto: "Roboto Mono", monospace;

    --purple: rgb(74, 37, 125);
    --navy: rgb(22, 24, 44);
    --turquoise-green: rgb(91, 239, 178);
    --turquoise-blue: rgb(10, 185, 186);

    --marquee-width: 100vw;
    --marquee-height: 12vh;
    --marquee-elements-displayed: 5;
    --marquee-element-width: calc(
        var(--marquee-width) / var(--marquee-elements-displayed)
    );
    --marquee-animation-duration: 170s;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--ff-barlow);
}

/* nav section */

nav {
    position: fixed;

    background-color: white;

    padding: 1vw;

    height: 8vw;
    width: 100%;
    z-index: 100;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

nav a {
    color: black;

    font-family: var(--ff-barlow);
    font-size: 1.5vw;
    font-weight: 700;
    text-decoration: none;
}

nav a:hover {
    color: rgb(91, 239, 178);
}

.app-download {
    display: block;

    background-color: rgb(91, 239, 178);
    color: white;

    padding: 1.1vw 1.5vw;

    border-radius: 0px 0.5vw 0.5vw 0.5vw;
    box-shadow: 0.2vw 0.2vw 0.1vw 0.1vw rgba(91, 239, 178, 0.3);

    text-decoration: none;
    font-family: var(--ff-barlow);
    font-weight: 500;
    font-size: 1.25vw;
}

.app-download:hover {
    color: black;
    box-shadow: 0.2vw 0.2vw 0.1vw 0.1vw rgba(19, 53, 39, 0.3);
}

/* landing section */

main {
    width: 100vw;

    overflow: hidden;
}

#landing-section {
    height: min-content;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    padding-bottom: 70vw;
}

#water-background {
    width: 100vw;
}

#catchphrase {
    position: absolute;

    font-family: var(--ff-barlow);
    font-weight: 400;
    font-size: 3.2vw;
    line-height: 4vw;
    text-align: center;

    color: white;
    top: 15vw;
}
#catchphrase strong {
    font-weight: 700;
}

#water-splash {
    position: absolute;
    width: 90vw;

    top: 30vw;
    left: 12vw;

    z-index: 2;
}

#iphone-landing-page {
    height: 60vw;

    position: absolute;
    top: 30vw;

    z-index: 4;
}

#download-links {
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 5vw;

    position: absolute;
    top: 95vw;
}

#download-links img { 
    height: 100%
}

.download-links {
    height: 5vw;
    width: 15vw;

    margin: 0px 0.5vw;
}

#landing-section-download-link {
    height: 4vw;

    line-height: 4vw;
    font-size: 1.8vw;
    font-weight: 500;
    text-align: center;

    display: block;

    padding: 0vw 0vw;
}

/* partners  section */
#partners-section {
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;


}

#partners-section h3 {
    font-size: 1.56vw;
    font-weight: 700;

    margin-bottom: 5vw;
}

.marquee {
    width: var(--marquee-width);
    height: var(--marquee-height);

    color: #eee;
    overflow: hidden;
    position: relative;
}

.marquee-content {
    list-style: none;
    height: 100%;
    display: flex;
    animation: scrolling var(--marquee-animation-duration) linear infinite;
}

@keyframes scrolling {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(
            calc(-1 * var(--marquee-element-width) * var(--marquee-elements))
        );
    }
}

.marquee-content li {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-shrink: 0;
    width: var(--marquee-element-width);
    max-height: 100%;
    font-size: calc(var(--marquee-height) * 3 / 4);
    white-space: nowrap;

    margin-right: 3vw;
}

.marquee-content li img {
    width: 15vw;
    height: 4vw;
    object-fit: contain;
}

/* strategie-seciton */

#strategy-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 8vw 8vw
}

#strategy-title  {
    font-size: 2.3vw;
    font-weight: 700;
    font-family: var(--ff-barlow);
    text-align: center;

    margin-top: 2vw;
}

#strategy-sub-title  {
    font-size: 2vw;
    font-family: var(--ff-barlow);
    font-weight: 500;
    text-align: center;

    margin-top: 2vw;
}


.strategy-aside {
    height: 60vw;
    width: 40vw;
}

#iphone-text-aside {
    padding-left: 8vw;
}

.steps-caption{
    font-size: 2.3vw;
    font-weight: 400;
    font-family: var(--ff-roboto);

    color: var(--turquoise-green);

    margin-top: 2vw;
}



.steps-sub-caption {
    font-size: 2vw;
    font-weight: 700;
    font-family: var(--ff-barlow);

    margin-top: 2vw;
}


.steps-article {
     width: 25vw;

    font-size: 2vw;
    font-family: var(--ff-barlow);
    font-weight: 500;

    margin-top: 2vw;
}



.steps-img {
    width: 40vw;
}

#strategy-img {
    position: absolute;
    z-index: 10;
}

#iphone-banner {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-top: 4vw;

    padding: 2vw;
}

.steps {
    width: 80vw;
    height: min-content;
    padding: 1vw;

    margin-top: 8vw;

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.steps aside {
    width: 50vw;
    height: min-content;

    display: flex;
    flex-direction: column;
    align-items: center;

}



/* glide setting stuff */

#iphone-banner-aside {
    position: relative;
}



#container {
    width: 200vw;
    height: 150px;

    position: absolute;
    left: 50%;
    transform: translate(-50%);

    top: 32vw;
}

.glide {
    background-color: transparent;
}

.glide__slides {
    display: flex;
    justify-content: center;
}

.glide__slide {
    display: flex;
    justify-content: center;
}

.glide__slide-img {
    height: 15vw;
    width: 15vw;

    border-radius: 2vw;

    background-color: rgb(138, 126, 126);
}

.tasks {
    display: flex;
    flex-direction: column;

    color: white;

    height: 15vw;
    width: 15vw;

    padding: 0.2vw;

    border-radius: 2vw;
}

.icon {
    height: 5vw;
    width: 5vw;
}

.bike-icon {
    background-color: white;

    width: min-content;
    border-radius: 100%;
}

.bike {
    height: 4vw;
    width: 4vw;
}

.tasks h2 {
    margin-top: 4vw;
    font-size: 1.5vw;
    line-height: 1.8vw;
    text-align: center;
}

#task1 {
    background-color: rgb(22, 24, 44);
}

#task2 {
    background-color: rgb(8, 185, 186);
}

#task3 {
    background-color: rgb(86, 172, 136);
}

/* footer */

footer {
    width: 100%;

    background-color: rgb(187, 208, 227);

    display: flex;
    flex-direction: column;
    align-items: center;
}

#socials {
    width: 100%;

    padding: 1vw 10vw;

    background-color: var(--navy);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.socials {
    height: 8vw;
    width: 8vw;
}
 

#socials-h2 {
    margin-bottom: 2vw;

    font-family: var(--ff-barlow);
    color: white;
    font-size: 2vw;
}

#socials-ul {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 80%;

    list-style: none;
}

.ticktock-background {
    height: 8vw;
    width: 8vw;

    background-color: white;
    border-radius: 50%;
}

#nav-footer {
    width: 100%;
    padding: 2vw 0px;

    display: flex;
    justify-content: center;
    flex-direction: row;
}

.footer-ul {
    width: 11vw;

    margin: 1px 4vw;

    list-style: none;

    display: flex;
    flex-direction: column;
    align-items: center;
}

footer li {
    margin-bottom: 1vw;
}

footer li a {
    color: rgb(22, 24, 44);

    font-family: var(--ff-barlow);
    font-size: 1.2vw;
    font-weight: 500;

    text-decoration: none;
}
footer li {
    color: rgb(22, 24, 44);

    font-family: var(--ff-barlow);
    font-size: 1.2vw;
    font-weight: 500;

    text-decoration: none;
}

footer h2 {
    font-size: 1.2vw;
    font-weight: 900;
    color: rgb(22, 24, 44);
}

#logos {
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

#stg {
    width: 70vw;
}

#stg ul {
    display: flex;
    justify-content: center;

    list-style: none;
}

.stg-icon {
    height: 6.8vw;

    margin: 0.2vw;

    border-radius: 0.2vw;
}

#solutions {
    align-items: flex-start;
}

#company {
}

#copy-right {
    align-items: flex-end;
}
#copy-right li {
    text-align: right;
}

/* */ 
/* */ 
/* media and screen */ 
/* */ 
/* */ 


@media only screen and (max-width: 500px) {
    /* nav */ 
    nav {
        height: 20vw;
    }
    nav a{
        font-size: 3.5vw;
    }
    .app-download {
        font-size: 3vw;
        padding: 2vw 2.5vw;
        box-shadow: 0.5vw 0.5vw 0.25vw 0.25vw rgba(91, 239, 178, 0.3);
    }

    /* main */
    /* */ 

    /* landing section */

    /* */ 
    #landing-section {
        padding-bottom: 120vw;
    }

    #water-background {
        margin-top: 12vw;
    }

    #catchphrase {
        font-size: 7vw;
        line-height: 6.8vw;

        top: 25vw
    }
    #water-splash {
        width: 130vw;

        top: 42vw;
        left: -10vw;
    }
    #iphone-landing-page {
        height: 100vw;

        top: 44vw;
    }
    #download-links {
        top: 145vw;

        height: 15vw
    }
    #landing-section-download-link {
        height: 7vw;
        width: 18vw;

        line-height: 7vw;
        font-size: 3vw;
    }
    /* partners section */

    /* */ 

    #partners-section h3 {
        font-size: 4vw;

        margin-bottom: 8vw;
    }
    .marquee-content li {
        margin-right: 5vw;
    }
    .marquee-content li img {
        width: 20vw;
        height: 6vw;
    }

    /* strategie section */

    

    #strategy-section {
        margin-top: 10vw;
    }

    #strategy-title  {
    font-size: 5vw;
    
    margin-top: 2vw;
    }

    #strategy-sub-title{
        font-size: 3.5vw;

        margin-top: 2vw;
    }

    .steps-caption {
        font-size: 5vw;
        line-height:4.5vw;

        margin-top: 4vw;
    }

    .steps-sub-caption {
        font-size: 5vw;

        margin-top: 3vw;
    }

    .steps-article {
        width: 40vw;

        font-size: 3.5vw;

        margin-top: 2vw;
    }

    .steps-img {
        width: 60vw;
    }   

    #strategy-img {
        left: 5vw;
    }
    /* glide */ 

    #iphone-banner {
        margin-top: 8vw;
    }

    .strategy-aside {
        height: 90vw;
        width: 55vw;
    }

    #iphone-assets {
        width: 50vw;
    }
    #container {
        top: 53vw;
        left: calc(50% + 8vw)
    }
    .glide__slide-img {
        height: 18vw;
        width: 18vw;

    }
    .tasks {
        height: 18vw;
        width: 18vw;

        padding: 0.3vw;
    }
    .tasks h2 {
        font-size: 2vw;
        line-height: 1.9vw;
    }

    
    /* footer */ 
    /* */ 

    #socials {
        padding: 3vw 0vw;
    }
    #socials-h2 {
        font-size: 3vw;

        margin-bottom: 3vw;
    }
    #socials img {
        height: 12vw;
        width: 12vw;
    }
    .ticktock-background {
        height: 12vw;
        width: 12vw;

        background-color: white;
        border-radius: 50%;
    }
    .footer-ul {
        width: 20vw;

        margin: 1px 4vw;

        list-style: none;

        display: flex;
        flex-direction: column;
        align-items: center;
    }
    footer li a {
        font-size: 2vw;
    }
    footer li {
        font-size: 2vw;
    }
    #stg {
        width: 70vw;
    }
    #stg ul {
        display: flex;
        justify-content: center;

        list-style: none;
    }
    .stg-icon {
        height: 11vw;

        margin: 0.4vw;
    }
}
