<footer>
    <div id="nav-footer">
        <ul>
            <li><h2>Solutions</h2></li>

            <li>
                <a href="/index.html">Home</a>
            </li>

            <li>
                <a href="sub_pages/B2B.html">B<sup>2</sup>B</a>
            </li>

            <li>
                <a href="sub_pages/aboutUs.html">About Us</a>
            </li>

            <li>
                <a href="/sub_pages/faq.html">FaQ</a>
            </li>

            <li>
                <a href="/sub_pages/contact.html">Contact</a>
            </li>
        </ul>

        <ul>
            <li><h2>Company</h2></li>

            <li>
                <a href="/sub_pages/imprint">imprint</a>
            </li>

            <li>
                <a href="/sub_pages/PrivacyPolicy">Privacy Policy</a>
            </li>

            <li>
                <a href="/sub_pages/Cookies">Cookies</a>
            </li>

            <li>
                <a href="/sub_pages/termsOfService">Terms of Service</a>
            </li>
        </ul>

        <ul>
            <li>
                <a href="https://www.instagram.com/" target="blank">
                    <img src="../assets/instagram.svg" />
                </a>

                <a href="https://www.facebook.com/" target="blank">
                    <img src="../assets/facebook.svg" />
                </a>
            </li>

            <li>
                <a href="https://www.tiktok.com/" target="blank">
                    <img src="../assets/tiktok.svg" />
                </a>

                <a href="https://www.linkedin.com/" target="blank">
                    <img src="../assets/linkedin.svg" />
                </a>
            </li>

            <li>
                <a href="https://www.youtube.com/" target="blank">
                    <img src="../assets/youtube.svg" />
                </a>
            </li>
        </ul>
    </div>

    <div id="band"></div>
</footer>