<nav>
    <ul>
        <li>
            <a href="../index.html"><img
                    src="../assets/logo-green-removed.png"
                /></a>
        </li>

        <li>
            <a href="imprint.html">Imprint</a>
        </li>

        <li>
            <a href="privacyPolicy.html">Privacy Policy</a>
        </li>

        <li>
            <a href="cookies.html">Cookies</a>
        </li>

        <li>
            <a href="termsOfService.html">Terms of Service</a>
        </li>
    </ul>
</nav>