<nav>
    <a href="index.html" id="nav-left">Home</a>
    <div class="grid-div" id="grid-div-left"></div>
    <a href="/sub_pages/aboutUs.html" id="nav-center">About Us</a>
    <div class="grid-div" id="grid-div-right"></div>
    <a href="/sub_pages/B2B.html" id="nav-right">B<sup>2</sup>B</a>
</nav>