:root {
    --ff-barlow: "Barlow", sans-serif;
    --ff-roboto: "Roboto Mono", monospace;

    --purple: rgb(74, 37, 125);
    --navy: rgb(22, 24, 44);
    --turquoise-green: rgb(91, 239, 178);
    --turquoise-blue: rgb(10, 185, 186);
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--ff-barlow);
}

/* nav section */

nav {
    position: fixed;

    background-color: white;

    padding: 1vw;

    height: 8vw;
    width: 100%;
    z-index: 100;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

nav a {
    color: black;

    font-family: var(--ff-barlow);
    font-size: 1.5vw;
    font-weight: 700;
    text-decoration: none;
}

nav a:hover {
    color: rgb(91, 239, 178);
}

.app-download {
    display: block;

    background-color: rgb(91, 239, 178);
    color: white;

    padding: 1.1vw 1.5vw;

    border-radius: 0px 0.5vw 0.5vw 0.5vw;
    box-shadow: 0.2vw 0.2vw 0.1vw 0.1vw rgba(91, 239, 178, 0.3);

    font-family: var(--ff-barlow);
    font-weight: 500;
    font-size: 1.25vw;
}

.app-download:hover {
    color: black;
    box-shadow: 0.2vw 0.2vw 0.1vw 0.1vw rgba(19, 53, 39, 0.3);
}



/* founders-section */

#team-photo-section {
    padding-top: 25vw;
    padding-bottom: 15vw;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#team-photo-section aside {
    width: 40%;
}

#team-photo-section aside {
    display: flex;
    flex-direction: column;

    align-items: center;
}

#team-photo-section img {
    height: 30vw;
    border-radius: 50%;

    border: 0.4vw solid rgb(91, 239, 178);
}

#team-photo-section h3 {
    font-size: 2vw;
    font-weight: 600;

    font-family: var(--ff-barlow);
}

#team-photo-section article {
    width: 20vw;

    font-family: var(--ff-barlow);
    font-size: 2vw;
    font-weight: 400;

    margin-top: 0.2vw;
}

/* team section */

#team-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#team-text {
    font-size: 2vw;
}

#team-icons {
    list-style: none;

    display: flex;
    flex-direction: row-reverse;
}

.member{
    margin: 3vw
}

#team-section img {
    height: 25vw;
    width: 25vw;

    border-radius: 50%;

    border: 0.4vw solid rgb(91, 239, 178);
}
 
.text {
    width: 25vw;

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text h2 {
    font-size:2vw;
}

.text article {
    font-family: var(--ff-barlow);
    font-size: 1vw;
    padding: 2vw;
}

/* footer */

footer {
    width: 100%;

    background-color: rgb(187, 208, 227);

    display: flex;
    flex-direction: column;
    align-items: center;
}

#socials {
    width: 100%;

    padding: 1vw 10vw;

    background-color: var(--navy);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.socials {
    height: 8vw;
    width: 8vw;
}
 

#socials-h2 {
    margin-bottom: 2vw;

    font-family: var(--ff-barlow);
    color: white;
    font-size: 2vw;
}

#socials-ul {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 80%;

    list-style: none;
}

.ticktock-background {
    height: 8vw;
    width: 8vw;

    background-color: white;
    border-radius: 50%;
}

#nav-footer {
    width: 100%;
    padding: 2vw 0px;

    display: flex;
    justify-content: center;
    flex-direction: row;
}

.footer-ul {
    width: 11vw;

    margin: 1px 4vw;

    list-style: none;

    display: flex;
    flex-direction: column;
    align-items: center;
}

footer li {
    margin-bottom: 1vw;
}

footer li a {
    color: rgb(22, 24, 44);

    font-family: var(--ff-barlow);
    font-size: 1.2vw;
    font-weight: 500;

    text-decoration: none;
}
footer li {
    color: rgb(22, 24, 44);

    font-family: var(--ff-barlow);
    font-size: 1.2vw;
    font-weight: 500;

    text-decoration: none;
}

footer h2 {
    font-size: 1.2vw;
    font-weight: 900;
    color: rgb(22, 24, 44);
}

#logos {
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

#stg {
    width: 70vw;
}

#stg ul {
    display: flex;
    justify-content: center;

    list-style: none;
}

.stg-icon {
    height: 6.8vw;

    margin: 0.2vw;

    border-radius: 0.2vw;
}

#solutions {
    align-items: flex-start;
}

#company {
}

#copy-right {
    align-items: flex-end;
}
#copy-right li {
    text-align: right;
}

@media only screen and (max-width: 500px) {
    /* nav */ 
    nav {
        height: 20vw;
    }
    nav a{
        font-size: 3.5vw;
    }
    .app-download {
        font-size: 3vw;
        padding: 2vw 2.5vw;
        box-shadow: 0.5vw 0.5vw 0.25vw 0.25vw rgb(91, 239, 178);
    }

    /* main */
    /* */

    #team-photo-section h3 {
    font-size: 5vw;
    }

    #team-photo-section article {
    width: 40vw;

    font-size: 3vw;
    }

    #team-text {
        font-size: 5vw;

        margin-bottom: 6vw;
    }

    #team-icons {
        flex-direction: column-reverse;
    }

    .member {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin: 4vw;
    }

    .text {
        width: 50vw;
    }

    .text h2 {
        font-size: 5vw;
    }

    .text article {
        font-size: 3vw;
    }
 
    /* footer */ 
    /* */ 

    #socials {
        padding: 3vw 0vw;
    }
    #socials-h2 {
        font-size: 3vw;

        margin-bottom: 3vw;
    }
    #socials img {
        height: 12vw;
        width: 12vw;
    }
    .ticktock-background {
        height: 12vw;
        width: 12vw;

        background-color: white;
        border-radius: 50%;
    }
    .footer-ul {
        width: 20vw;

        margin: 1px 4vw;

        list-style: none;

        display: flex;
        flex-direction: column;
        align-items: center;
    }
    footer li a {
        font-size: 2vw;
    }
    footer li {
        font-size: 2vw;
    }
    #stg {
        width: 70vw;
    }
    #stg ul {
        display: flex;
        justify-content: center;

        list-style: none;
    }
    .stg-icon {
        height: 10vw;

        margin: 0.4vw;
    }
}