:root {
    --ff-primary: "Barlow", sans-serif;
    --ff-accent: "Roboto Mono", monospace;
    --marquee-width: 100vw;
    --marquee-height: 12vh;
    --marquee-elements-displayed: 5;
    --marquee-element-width: calc(
        var(--marquee-width) / var(--marquee-elements-displayed)
    );
    --marquee-animation-duration: 50s;

    --purple: rgb(74, 37, 125);
    --navy: rgb(22, 24, 44);
    --turquoise-green: rgb(91, 239, 178);
    --turquoise-blue: rgb(10, 185, 186);
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--ff-accent);
}

/* nav */
nav {
    position: fixed;

    background-color: white;

    padding: 2vw;

    height: 8vw;
    width: 100%;
    z-index: 100;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    border-bottom: 2px solid black;
}

nav a {
    color: black;

    font-family: var(--ff-primary);
    font-size: 2.5vw;
    font-weight: 900;
    text-decoration: none;
}

nav a:hover {
    color: rgb(91, 239, 178);
}

.app-download {
    display: block;

    background-color: rgb(91, 239, 178);
    color: white;

    padding: 1.1vw 1.5vw;

    border-radius: 0px 0.5vw 0.5vw 0.5vw;
    box-shadow: 0.2vw 0.2vw 0.1vw 0.1vw rgba(91, 239, 178, 0.3);

    font-family: var(--ff-accent);
    font-weight: 400;
    font-size: 1.5vw;
}

.app-download:hover {
    color: black;
    box-shadow: 0.2vw 0.2vw 0.1vw 0.1vw rgba(19, 53, 39, 0.3);
}

/* main */

main {
    height: 100vh;

    padding-top: 20rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contianer {
    border: solid 0.2vw var(--turquoise-green);
    border-radius: 0.5vw;

    padding: 1vw;
}

h2 {
    font-family: var(--ff-primary);
    font-size: 50px;
    font-weight: 400;

    text-align: center;

    color: black;
}

strong {
    font-weight: 700;
}

form {
    padding: 5rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

label {
    font-family: var(--ff-primary);
    font-size: 50px;

    color: black;
}

input {
    width: 30vw;
    height: 5vw;

    font-family: var(--ff-primary);
    font-size: 30px;
    text-align: center;
    color: black;

    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid rgba(158, 158, 158, 0.8);

    border-radius: 1vw;
}

input::placeholder {
    color: black;
}

button {
    height: 5vw;
    width: 10vw;

    margin-left: 1vw;

    font-family: var(--ff-primary);
    font-size: 40px;
    color: black;

    background-color: transparent;

    border: 2px solid rgba(158, 158, 158, 0.8);
    border-radius: 1vw;

    transition: ease-in-out 1s;
}

button:hover {
    transform: scale(1.05);
    background-color: rgba(190, 190, 190, 0.8);
}

/* footer-section */

footer {
    width: 100%;

    background-color: rgb(187, 208, 227);

    display: flex;
    flex-direction: column;
    align-items: center;
}

#socials {
    width: 100%;
    padding: 2vw 10vw;

    background-color: var(--navy);
}

#socials-ul {
    display: flex;
    justify-content: space-around;
    align-items: center;

    list-style: none;
}

#nav-footer {
    width: 100%;

    display: flex;
    justify-content: space-evenly;
}

.footer-ul {
    margin-top: 3vw;
    margin-bottom: 3vw;
    list-style: none;
}

footer li {
    margin-bottom: 10px;
}

footer li a {
    color: white;

    font-family: var(--ff-accent);
    font-size: 2vw;

    text-decoration: none;
}

footer h2 {
    font-size: 30px;
    color: rgb(158, 158, 158);
}

footer img {
    height: 5vw;
    width: 5vw;
}

#logos {
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

#logos img {
    height: 100px;
    width: 50px;

    object-fit: cover;
}

#logos img:nth-last-of-type(1) {
    height: 75px;
    width: 75px;
}
