:root {
    --ff-barlow: "Barlow", sans-serif;
    --ff-roboto: "Roboto Mono", monospace;

    --purple: rgb(74, 37, 125);
    --navy: rgb(22, 24, 44);
    --turquoise-green: rgb(91, 239, 178);
    --turquoise-blue: rgb(10, 185, 186);
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--ff-barlow);
}

/* nav section */

nav {
    position: fixed;

    background-color: white;

    padding: 1vw;

    height: 8vw;
    width: 100%;
    z-index: 100;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

nav a {
    color: black;

    font-family: var(--ff-barlow);
    font-size: 1.5vw;
    font-weight: 700;
    text-decoration: none;
}

nav a:hover {
    color: rgb(91, 239, 178);
}

.app-download {
    display: block;

    background-color: rgb(91, 239, 178);
    color: white;

    padding: 1.1vw 1.5vw;

    border-radius: 0px 0.5vw 0.5vw 0.5vw;
    box-shadow: 0.2vw 0.2vw 0.1vw 0.1vw rgba(91, 239, 178, 0.3);

    font-family: var(--ff-barlow);
    font-weight: 500;
    font-size: 1.25vw;
}

.app-download:hover {
    color: black;
    box-shadow: 0.2vw 0.2vw 0.1vw 0.1vw rgba(19, 53, 39, 0.3);
}

/* main */

main {
    padding-top: 10rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container {
    background-image: url("../assets/backgrounds/iceland2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1vw;

    padding: 7vw 2vw;

    box-shadow: 0 0 200px rgba(134, 131, 131, 0.9) inset;
}

#contact-h2 {
    font-family: var(--ff-barlow);
    font-size: 6vw;
    font-weight: 400;

    text-align: center;

    color: white;
}

strong {
    font-weight: 700;
}

form {
    padding: 4vw;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

label {
    font-family: var(--ff-roboto);
    font-size: 50px;

    color: black;
}

input {
    width: 30vw;
    height: 5vw;

    font-family: var(--ff-barlow);
    font-size: 2vw;
    text-align: center;

    color: rgb(190, 190, 190);
    background-color: rgb(255, 255, 255);

    border: none;
    border-radius: 1vw;
}

input::placeholder {
    color: rgb(190, 190, 190);
}

button {
    height: 5vw;
    width: 15vw;

    margin-left: 1vw;

    font-family: var(--ff-roboto);
    font-size: 3vw;

    background-color: rgba(255, 255, 255, 0.3);
    color: white;

    border: none;
    border-radius: 1vw;

    transition: ease-in-out 1s;
}

button:hover {
    transform: scale(1.05);
    background-color: rgba(190, 190, 190, 0.8);
}

/* footer */

#team-section {
    height: 40vh;

    padding-top: 10vw;
    padding-bottom: 40vw;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#team-text {
    font-size: 3vw;
}

#multi1 {
    margin-top: 8vw;

    width: 80%;
}

.glide__slides {
    text-align: center;
}

.glide__slide {
    position: relative;
}

.glide__slides img {
    height: 25vw;
    width: 25vw;
}

.text {
    height: 25vw;
    width: 25vw;

    position: absolute;
    top: 0px;
    left: 0px;
    right: 0;

    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;

    z-index: 3;

    display: flex;
    flex-direction: column;
    justify-content: center;

    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: 1s;
}

.text article {
    font-family: var(--ff-roboto);
    font-size: 1vw;
    padding: 2vw;
}
.text:hover {
    opacity: 100;
}

/* footer */

footer {
    margin-top: 10vw;

    width: 100%;

    background-color: rgb(187, 208, 227);

    display: flex;
    flex-direction: column;
    align-items: center;
}

#socials {
    width: 100%;

    padding: 1vw 10vw;

    background-color: var(--navy);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#socials img {
    height: 8vw;
    width: 8vw;
}

.social {
    height: 7vw;
}

#socials-h2 {
    margin: 4vw;

    font-family: var(--ff-barlow);
    color: white;
    font-size: 2vw;
}

#socials-ul {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 80%;

    list-style: none;
}

.ticktock-background {
    height: 8vw;
    width: 8vw;

    background-color: white;
    border-radius: 50%;
}

#nav-footer {
    width: 100%;

    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}

.footer-ul {
    margin: 2vw;
    list-style: none;
}

footer li {
    margin-bottom: 1vw;
}

footer li a {
    color: rgb(22, 24, 44);

    font-family: var(--ff-barlow);
    font-size: 1.2vw;
    font-weight: 500;

    text-decoration: none;
}
footer li {
    color: rgb(22, 24, 44);

    font-family: var(--ff-barlow);
    font-size: 1.2vw;

    text-decoration: none;
}

footer h2 {
    font-size: 1.2vw;
    font-weight: 900;
    color: rgb(22, 24, 44);
}

#logos {
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

#stg {
    width: 70vw;
}

#stg ul {
    display: flex;
    justify-content: center;

    list-style: none;
}

.stg-icon {
    height: 4vw;

    margin: 0.2vw;

    border-radius: 0.2vw;
}
